<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>I Graduated from Northern Arizona University with a Marketing degree and am currentlly enrolled in the Data Anlytics program at Merit America working to complete the google data analyitcs certificate. Experienced in research, data visualization, report generation, project management with expertise in, Qualtrics, google sheets, and Excel. I am currently intersted in data entry jobs and will hopefully have a research or data analytics career in the future. </p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong>  Excel (Pivot Tables, VLOOKUP, SUM, AVERAGE, IF,) Surveys,  SQL (BigQuery), Tableau, R (RStudio) (Suricata)<br>
              <strong>Data Management:</strong> Data Collection, Data Cleaning, Data Structures, Data Analysis, Data Visualization, Data Ethics<br>
              <strong>Software Platforms:</strong> Microsoft 365 Suite, Google Workspace, Slack, Teams, Canva, Zoom, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Project Management, Leadership, Critical Thinking <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://docs.google.com/document/d/1Yv-bqwmuFRhwcrRBkL0F__0HIMP_fQKVTGZKMxX3B-k/edit?usp=sharing" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
